[package]
name = "hfst-ospell-rs"
version = "0.1.0"
authors = ["Brendan Molloy <brendan@bbqsrc.net>"]
edition = "2018"
license = "MIT/Apache-2.0"

[lib]
name = "hfstospell"
crate-type = ["rlib", "staticlib", "cdylib"]

[dependencies]
libc = "0.2"
memmap = "0.7.0"
byteorder = "1.2.7"
serde = "1.0.80"
serde_derive = "1.0.80"
serde-xml-rs = "0.2.1"
serde_json = "1.0.33"
zip = { version = "0.4", default-features = false }
log = "0.4.6"
env_logger = "0.6.0"
unic-ucd-category = "0.7.0"
unic-ucd-segment = "0.7.0"
parking_lot = "0.6.4"
lazy_static = "1.2.0"
fxhash = "0.2.1"
hashbrown = "0.1"

[dev-dependencies]

[profile.release]
debug = true
